<!-- _includes/img.html -->
<figure style='width:{{ include.width or 100%}};'>
    <img data-action="zoom" src='{{ include.src }}' alt='{{ include.alt }}'
        class='post--img'>
    {%- if include.link != null -%}
    <figcaption>
        <a href='{{include.link}}' target='_blank'>
            {%- if include.description != null -%}
            {{ include.description }}
            {%- else -%}
            {{ include.link }}
            {%- endif -%}
        </a>
    </figcaption>
    {%- else -%}
    <figcaption>{{ include.description }}</figcaption>
    {%- endif -%}
</figure>