<!-- 2019-11-08 18:55:36 require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
<!--2019-11-08 18:53:29 Add meting-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<meting-js
    server= {{page.mserver}}
    autoplay={{page.mautoplay}}
	type= {{page.mtype}}
    id={{page.mid}}
    auto={{page.murl}}
    theme={{page.mtheme}}
    loop={{page.mloop}}
    order={{page.morder}}
    >
</meting-js>