/* start custom scss snippet */
// 공통 클래스
.mk-table {
  &.full--width {
    display: inline-table;
  }
  td:not(.text--left) {
    text-align: center;
  }
  //   &.left {
  //     text-align: left !important;
  //   }
}

.font-red {
  color: #a60d0f !important;
}
.font-blue {
  color: #2446a3 !important;
}
.yinwen {
  font-size: 150%;
  color: #3a50b0 !important;
}

// 특정 설정
.main {
  @include media-breakpoint-up(md) {
    padding: 0 4rem !important;
  }
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;

  .header__brand {
    a {
      font-weight: 700;
    }
  }
}

footer {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: inherit !important;
  .main {
    padding: 0em !important;
  }
}

.sidebar-toc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// sidebar category list 간격 조정
.toc--navigator {
  .toc-h2 a {
    line-height: 1.2 !important;
  }
}

ul.toc--ellipsis > li {
  white-space: inherit !important;
}

// 모바일에서 sidebar action button 위치 변경
.page__actions {
  right: 1rem !important;

  @include media-breakpoint-down(md) {
    top: 3rem !important;
  }
  @include media-breakpoint-up(md) {
    top: 0.5rem !important;
  }

  // nav button 사이즈 조정
  .sidebar-button {
    width: 30px;
    height: 30px;
  }
}

// 게시글 설정 조정
.layout--articles {
  margin-top: 1em !important;

  .article__content {
    * {
      color: $text-color;
      font-weight: 400;
    }
  }

  .article__link {
    cursor: pointer;
    &:hover {
      * {
        color: $text-color-l;
      }
      // font-weight: 700;
    }
  }

  // 글 목록에서 code display 조정
  .mjx-chtml {
    display: none !important;
  }
}

// 글 목록 간격 조정
.posts-list {
  margin-left: 0px !important;

  li {
    list-style: none;
  }
  h3 {
    margin: 0em !important;
    font-size: 1em !important;
    a {
      color: #585858;
    }
  }

  small {
    font-size: x-small !important;
    color: #a09e9e;
  }
}

// 글 목록 제목 간격 조정
.article__header {
  margin-top: 1em !important;
  margin-bottom: 0em !important;
}

// 글 내용의 이미지 라운드 처리
.article__content {
  img {
    border-radius: 4px 4px 4px 0px;
  }

  // 탭 들여쓰기
  dl dd {
    margin-left: 1rem !important;
  }

  pre > code {
    white-space: pre-wrap;
    word-wrap: break-word !important;
  }

  h1 {
    border-left: 4px solid $main-color-1;
    padding-left: 6px;
  }
}

.toc-h1 {
  padding-bottom: 0px !important;
  a {
    border-left: 2px solid $main-color-1 !important;
    padding-left: 4px !important;
  }
}

// 하단 설명글 설정
// > 마크다운에 {:.comment}로 클래스 지정해서 설정
// 주로 명칭의 영문이나 공용어 등 표기 시 사용
// custom variables
$l-border-width: 4px;
.comment {
  margin: -1rem 0px 0px !important;
  padding-left: 6px !important;
  border-left-width: $l-border-width !important;
}

// image, table 코멘트 설정
comment {
  font-size: map-get($base, font-size-sm) !important;
  font-style: italic;
  text-align: center;
  color: $text-color-l;
  border-left: $l-border-width solid lightgray;
  padding: 0.4rem 0.4rem 0;
}

img + br + em,
img + em {
  @extend comment;
}
table + p {
  margin: 0px !important;
  position: relative;
  top: -1rem;
  em {
    @extend comment;
  }
}

// 페이지 번호 간 간격 조정
.pagination__menu {
  display: flex;

  .menu {
    margin: 2rem auto;

    li {
      margin-right: 1em !important;
    }
  }
}

// MathJax 한글 폰트 수정
.MJXc-TeX-unknown-R {
  font-family: inherit !important;
}

// mermaid 텍스트 중앙 정렬
.language-mermaid {
  .label {
    text-align: center;
  }
}
/* end custom scss snippet */
