<!DOCTYPE html>
<html lang="zh-Hant">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0" /> -->
<!-- Migrate from head to bottom, no longer block render and still work -->
<!-- liuchengtu -->
{% if page.mermaid %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js"></script>
        <link rel="stylesheet" href="/css/gantt.css">
<script>
  var config = {
      logLevel:1,
      startOnLoad:true,
      gantt: {
        titleTopMargin:25,
        barHeight:45,
        barGap:4,
        topPadding:50,
        rightPadding: 20,
        leftPadding: 75,
        gridLineStartPadding: 50,
        fontSize: 11,
        axisFormatter: [["%-m/%-d", function (d){return d.getDay() == 1;}]]
      }

  };
  mermaid.initialize(config);
  console.log(JSON.stringify(mermaid.sequenceConfig));

</script>
        <script>
            var config = {
                startOnLoad:true,
                flowchart:{
                    useMaxWidth:true,
                    htmlLabels:true
                }
            };
            mermaid.initialize(config);
            $(function(){
                var elements = document.getElementsByClassName("language-mermaid");
                for (var i = elements.length; i--;) {
                    element = elements[i];
                    var graphDefinition = element.innerText;
                    if (graphDefinition) {
                        var svg = mermaid.render('ha_mermaid_' + i, graphDefinition, function(svg){});
                        if (svg) {
                            var svgElement = document.createElement('div');
                            preNode = element.parentNode;
                            svgElement.innerHTML = svg;
                            svgElement.setAttribute('class', 'mermaid');
                            svgElement.setAttribute('data-processed', 'true');
                            preNode.parentNode.replaceChild(svgElement, preNode);
                        }
                    }
                }
            });
        </script>
{% endif %}
<!-- back-top -->
<div id="back-top">
  <a href="#" data-toggle="tooltip" data-placement="top" title="top">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </a>
</div>
<script>
    $('#back-top').hide();
    $(document).ready(function () {
    $(window).scroll(function () {
    if ($(this).scrollTop() > 250) {
      $('#back-top').fadeIn();
    } else {
      $('#back-top').fadeOut();
    }
  });
  $('#back-top a').click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 800);
    return false;
  });
});
</script>

</body>

</html>
